# Ecommify Docker local environment
# Copiar este archivo como .env si se quieren cambiar puertos o credenciales locales.

TZ=America/Bogota

POSTGRES_DB=ecommify_db
POSTGRES_USER=ecommify_user
POSTGRES_PASSWORD=ecommify_password
POSTGRES_PORT=5432

MONGO_INITDB_ROOT_USERNAME=ecommify_admin
MONGO_INITDB_ROOT_PASSWORD=ecommify_password
MONGO_INITDB_DATABASE=ecommify_analytics
MONGO_PORT=27017